<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="navBar">
        <nav>
            <ul>
                <li class="nav3">Login</li>
                <li class="nav2">Nosotros</li>
                <li class="nav1"><a href="index.html">Home</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>