<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <div class="navbar">
        <div id="logo">
            <img src="../resources/logo.png" alt="Logo image">
            <p>learnOrbit</p>
        </div>
        <ul>
            <li><a id="logIn">Login</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a>Cursos</a></li>
            <li><a href="index.html">Home</a></li>
        </ul>
    </div>
    <h1>Nunca es tarde para aprender</h1>
    <div class="image">
        <img src="../resources/estudiantes_prof.png" alt="Home image">
    </div>
    <div id="row">
    </div>
    <div id="nosotros">
        <h1>Nosotros</h1>
        
    </div>
</body>
</html>