body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7e6;
}
.navbar {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f7f7e6;
    overflow: hidden;
}

#logo {
    margin-left: 25px;
}

#logo img {
    height: 65px;
    float: left;

}

#logo p {
    float: left;
    margin-left: 5px;
    font-size: 140%;
    color: #156920;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    float: right;
}
.navbar li a {
    display: block;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 140%;
}

#logIn {
    color: white;
    background-color: #156920;
    border-radius: 10%;
}

#logIn:hover {
    background-color: #1e9c2e;
    scale: 1.05;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 350%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    height: 25%;
    width: 65%;
}

#row {
    margin-top: 40px;
    background-color: #1e9c2e;
    height: 200px;
    width: 100%;
}